@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
.js-loading *,
.js-loading *:before,
.js-loading *:after {
    animation-play-state: paused !important;
}
body {
    font-family: "Fjalla One", sans-serif;
    color: #333;
    background-color: lightgray;
    background-image: url("../assets/concrete-texture.png");
    background-repeat: repeat;

}

/* flex containers */

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 85%;
    margin: auto;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(51,51,51,0.77);
    -moz-box-shadow: 0px 5px 5px 0px rgba(51,51,51,0.77);
    box-shadow: 0px 5px 5px 0px rgba(51,51,51,0.77);
    background-color: whitesmoke;

}
.sub-container-split{
    flex: 1;
    margin: auto 0.5%;
    border-radius: 3px;
    text-align: center;
}
.sub-container-split h1{
    font-size: 2.5em;
}
.container-portfolio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
    width: 100%;
    margin: auto;

}
.sub-container-portfolio{
    width: 50%;
    flex: 1;
    margin: auto;
}
.info{
    flex-direction: column;
    list-style: none;
}
.info h2, h3{
    padding:8px;
}
.multi-points ul{
    list-style: none;
    text-align: center;
}
/* Nav bar content */
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 3px;
    font-size: 1.5em;
}
.nav-bar li{
    flex: 1;
}
.nav-item{
    text-align: center;
    margin: auto;
}
.nav-item a{
    display: block;
    position: relative;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-item a:hover, .nav-toggle:hover {
    color: #a0d3cc;
    transition: .5s;

}
.nav-item > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DE3D40;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.nav-item > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.nav-toggle{
    display: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}
#logo{
    height: auto;
    width: 100%;
}
.no-back{
    background: transparent;
}
/* MISC STYLING */
.contact-btn{
    text-align: center;
    background-color: #a0d3cc;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(51,51,51,0.77);
    -moz-box-shadow: 0px 5px 5px 0px rgba(51,51,51,0.77);
    box-shadow: 0px 5px 5px 0px rgba(51,51,51,0.77);

}
.contact-btn a{
    font-size: 2em;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
/* animations */
@keyframes fade-in-right {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fade-in{
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}

.fade-in-right {
    -webkit-animation-name: fade-in-right;
    animation: fade-in-right 1s both ;
}
@keyframes fade-in-left {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fade-in-left {
    -webkit-animation-name: fade-in-left;
    animation: fade-in-left 1s both ;
}


@media all and (max-width: 400px) {
    /* Mobile Query */
    .container{
        flex-direction: column;
    }
    .nav-bar > li {
        flex-basis: 100%;
    }
    .toggle{
        display:none;
    }
    .nav-toggle{
        display: initial;
    }
}
@media all and (max-width: 768px) {
    /* tablet Query */
    .container{
        flex-direction: column;
    }
    .nav-bar {

    }

    .nav-bar > li {
        flex-basis: 50%;
    }
}

